*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/fundo1cortado.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
} 

header{
    padding-top: 3%;
}
.opcoes{
    padding-left: 20%;
    padding-top: 3%;
    letter-spacing: 20px;
    background-color: #3263AF;
    opacity: 80%
}
.btn{
    width: 120px;
    height: ;
    color: white;
    background-color: #3263AF;
    border: none;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: DMSans-Regular;
}

.btnClientes{
    width: 200px;
    height: ;
    color: white;
    background-color: #3263AF;
    border: none;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: DMSans-Regular;

}
.menu{
    background-color: #3263AF;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    padding-bottom: 0,8%;
}
.logomenu{
    width: 290px;
    padding-left: 150px;
    padding-bottom: 1%;
    background-color: #3263AF;
    opacity: 80%

}

.home{
    display: flex;
    padding-top: 30%;
    padding-bottom: 15%;
    padding-left: 10%;
    color: white;
    font-size: 30px;
    font-family: DMSans-Regular;

}
.seta{
    padding-left: 50%;
} 

.container{
    background-image: url(./assets/fundo2.png);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 10%;
}
.imagem1{
    padding-top: 10%;
    padding-right: 10%;
}
.about{
    background-color: #3263AF;
    width: 40%;
    height: 50%;
    color: white;
    text-aling: center;
    opacity: 80%;
}
.sobre{
    color: black;
    padding-top: 5%;
    padding-bottom: 10%;
}
.falec{
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border: none;
    font-size: 150%;
}
.nossosClientes{
    background-color: #3263AF;
    opacity: 80%;
    background-image: url(./assets/fundo2.png);
}
.textnossosclientes{
    padding-top: 2%;
    text-align: center;
    font-size: 200%;
}
.icones{
    display: flex;
    padding-top: 5%;
}

.iconessobre{
    padding-left: 8%;
    text-align: center;
    font-size: 180%;
}
.pessoas{
    padding-top: 20%;
}

.commodities{
    background: #222222;
    width: 100%;
}
.container-faleconosco{
    background-image: url(./assets/Sem\ nome\ \(1080\ ×\ 1920\ px\)\ \(1000\ ×\ 1000\ px\)\ \(800\ ×\ 800\ px\).png);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.telacinco{
    background-color: #3263AF;
    width: 40%;
    height: 60%;
    padding-top: 3%;
    color: white;
    text-align: left;
    justify-content: center;   
    
}
.faleconosco{
    font-size: 300%;
    padding-left: 9%;
}
input {
    border: white 3px solid;
    border-radius: 7%;
}
form{
    padding-bottom: 5%;
    padding-left: 10%;
}

.canal{
    padding-left: 10%;
}
.dados{
    width: 40%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: #3263AF;
}

input::placeholder {
    color: white;
    font-size: 150%;
  }
.redes{
    padding-left: 20%;
    
}

.redes img{
    width: 23%;
    padding-left: 5%;
}

.falecc{
    width: 180%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border: none;
    font-size: 100%;
}
.botao-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

}

.fotos{
    padding-left: 50% ;
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    
}
footer img {
    padding-top: 5%;
    padding-left: 5%;
    width: 200px;
}
footer h3{
    color: #3263AF;
    padding-left: 250%;
}

footer p{
    padding-left: 250%;
   
}