body{
    margin: 0%;
    padding: 0%;
    size: cover;
}
.div1{
    background-image: url(./assets/fundo1cortado.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100vw;
    height: 100vh;
}
.tab_navigation{
    padding-top: 5%;
}
.tab_navigation1{
    background-color: #3263AF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    opacity: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
}

.menu{
    background-color: #3263AF;
    border: none;
    color:white;
    font-size: 150%;
    padding-left:5%;
    
}

#menusobre {
    margin-left: 30%;
}
.menu:hover{
    cursor: pointer;
}
.textoseta {
    padding-top: 23%;
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
#seta{
    padding-left: 40%;
    width: 10%;
    
}
#seta:hover{
    cursor: pointer;
}
.textoseta h1{
    color: white;
    font-family: 'Lato';
    font-size: 500%;
    word-spacing: 2;
}
.textosobre h1{
    color: white;
    font-size: 300%;
    margin-top: 3%;
    font-family: 'Repo-bold';
} 
.div2{
    background-image: url(./assets/fundo2.png);
    background-repeat: no-repeat;
    background-size: 130% auto;
    width: 100vw;
    height: 120vh;
}
.div22{
    padding-top: 5%; 
}
.div2-icones{
    background-color: #3263AF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding-left: 8%;
}
#icones{
    padding-left: 10%;
    text-align: center;
    color: white;
}
#iconespessoas{
    padding-left: 8%;
    text-align: center;
    color: white;
    padding-top: 2.5%;
}

#icones h1{
    font-size: 300%;
}

#icones h3 {
    font-size: 200%;
}
#iconespessoas h1{
    padding-top: 4%;
    font-size: 300%;
}
#iconespessoas h3{
    font-size: 200%;
    border-top: 0%;
}
.sobreinfinity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding-top: 7%;
}
.sobreinfinity p{
    text-align: left;
    line-height: 150%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Lato';
    font-size: 120%;

}
#fotosobre{
    padding-top: 3%;
    padding-right: 2%;
    height: 30%;
}
.textosobre{
    background-color: #3263AF;
    height: 43%;
    opacity: 80%;
    color: black;
    max-width: 655px;
    padding-bottom: 2%;
    margin-left: 20%;
    margin-right: 4%;
}

.textosobre h1{
    font-family: 'Lato';
    padding-left: 5%;
}

.FaleConosco{
     padding-left: 5%;
}
.btnFaleConosco{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    height: 80%;
    border: none;
    border-radius: 10px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 170%;
}
.btnFaleConosco:hover{
    cursor: pointer;
}
.div3{
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100vw;
    height: 100vh;
}
.div4{
    background-image: url(./assets/Sem\ nome\ \(1080\ ×\ 1920\ px\)\ \(1000\ ×\ 1000\ px\)\ \(800\ ×\ 800\ px\).png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100vw;
    height: 70vh;
}
.azul{
    background-color: #3263AF;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 2%;
    width: 30%;
    height: 42%;
}
.botao-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding-top: 10%;
    padding-bottom: 1%;

}
.azul h1{
    margin: auto;
    padding-bottom: 3%;
    color: white;
    font-family: 'Lato';
    font-size: 400%;
    font-weight: bold;
}
.dados{
    background-color: #3263AF;
    border: white 2px solid;
    width: 70%;
    height: 100%;
    
}
input{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1%;
    border: 5px solid #1C6EA4;
    border-radius: 10px;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 200%;
  }
.contatar{
    width: 100%;
    height: 90%;
    border-left: 2%;
    border: none;
    border-radius: 10px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 130%;
}
.contatar:hover{
    cursor: pointer;
}
.redes{
    width: 20%;
    margin-right: 4%;
}

#facebook{
    width: 15%;
}
#yt{
    width: 23%;
}

.icones-redes{
    padding-left: 5%;
}
.icones-redes:hover{
    cursor: pointer;
}

.div4azul{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
.img3{
    padding-left: 10%;
    padding-top: 3%;
}
.div5{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
#logofooter{
    width: 20%;
    padding-left: 20%;
    padding-top: 7%;
}

#dados-empresa{
    padding-left: 12%;

}
.div5 h3{
    font-size: 150% ;
    padding-left: 39%;
    color: #3263AF;
    margin-bottom: 0%;
    font-family: 'Lato';
}
.div5 p{
    margin-top: 0%;
    font-size: 150%;
    padding-left: 39%;
    color: white;
    font-family: 'Lato';
}